html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: $font-family-lato;
    font-size: 1.1rem;
    font-weight: 300;
    background-color: $dark-color;
    color: #000;
}

h1 {
    font: 3rem $font-amatic;
    text-transform: uppercase;
}

h2 {
    font: 2.5rem $font-amatic;
    text-transform: uppercase;
    text-align: center;
}

h3 {
    font: 2.5rem $font-amatic;
    text-transform: uppercase;
    text-align: center;
}

.btn {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: $dark-color;
    font-size: 1rem;
    font-family: $font-family-lato;
    font-weight: 300;
    border-radius: 0.2rem;
    border: $dark-color;
    cursor: pointer;
    a {
        text-decoration: none;
        color: #fff;
    }
}

#header {
    padding: 0;
    margin-top: 0;
    background-color: $dark-color;
    padding: 3vh;
    position: fixed;
    z-index: 2;
    top: 0;
    width: 100%;
    ul {
        margin: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0;
        i {
            color: #fff;
        }
        i:hover {
            color: $secondary-color;
        }
        a {
            text-decoration: none;
        }
        span {
            display: none;
            color: $body-bg;
            margin-left: 10px;
            @include tablet-and-up {
                display: inline;
            }
        }
        span:hover {
            color: $secondary-color;
        }
    }
}

#hero {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    border-bottom: 5px solid $dark-color;
    color: #fff;
    background-color: $light-color;
    h1 {
        margin-bottom: 10px;
    }
    p {
        margin: 0;
        font-size: 1.4rem;
        span {
            color: $dark-color;
        }
    }
    img {
        position: relative;
        bottom: -14vh;
        height: 25vh;
        border: 5px solid $dark-color;
        border-radius: 50%;
    }
}

.container {
    margin: 2rem auto;
    border-radius: 0.5rem;
    -webkit-box-shadow: $shadow;
    -moz-box-shadow: $shadow;
    box-shadow: $shadow;
    width: 85vw;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    @include tablet-and-up {
        padding: 1rem 5rem;
    }
    h3 {
        margin: 1rem 0 2rem 0;
    }
}

#sobre-mi {
    padding-top: 8vh;
    text-align: center;
    a {
        color: $dark-color;
        font-size: 2rem;
    }
}

.cita {
    height: 30vh;
    color: #fff;
    text-align: center;
    p {
        font-style: italic;
    }
}

blockquote {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

//TIMELINE
.timeline {
    position: relative;
    padding-left: 4rem;
    margin: 0 0 0 15px;
    color: #fff;
    font-size: 01rem;
    &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 10px;
        bottom: -30px;
        width: 4px;
        height: 100%;
        background-color: $primary-color;
    }
}

.timeline-container {
    position: relative;
    margin-bottom: 2.5rem;
    .timeline-icon {
        position: absolute;
        left: -88px;
        top: 4px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        -webkit-box-shadow: $shadow;
        -moz-box-shadow: $shadow;
        box-shadow: $shadow;
        text-align: center;
        font-size: 1.6rem;
        background: $light-color;
        i {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .timeline-body {
        background: $light-color;
        border-radius: 10px;
        -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
        box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
        &:before {
            content: '';
            background: inherit;
            width: 20px;
            height: 20px;
            display: block;
            position: absolute;
            top: 15px;
            left: -10px;
            transform: rotate(45deg);
            border-radius: 0 0 0 2px;
        }
        p {
            color: $dark-color;
            padding-left: 15px;
            padding-right: 2px;
            margin-bottom: 5px;
            span {
                font-weight: bold;
            }
        }
        .timeline-title {
            margin-bottom: 1.4rem;
            .badge {
                position: relative;
                top: 10px;
                background: $body-bg;
                margin: 20px 0 0 10px;
                padding: 4px 8px;
                border-radius: 3px;
                font-size: 12px;
                font-weight: bold;
            }
        }
        .timeline-place {
            color: #fff;
            margin-top: 0;
        }
        .timeline-subtitle {
            color: #000;
            font-weight: 300;
            font-style: italic;
            opacity: .6;
            padding: 0 15px 15px 15px;
        }
    }
    //Growth Timeline
    &.growth {
        .badge,
        .timeline-icon {
            background: #8b3c2a !important;
        }
    }
    //Derecho Timeline
    &.derecho {
        .badge,
        .timeline-icon {
            background: #004659 !important;
        }
    }
    //Comunidad Timeline
    &.comunidad {
        .badge,
        .timeline-icon {
            background: #001f30 !important;
        }
    }
    //Deporte Timeline
    &.deporte {
        .badge,
        .timeline-icon {
            background: #3e867c !important;
        }
    }
}

//SKILLS
@keyframes load {
    from {
        width: 0%;
    }
}

@-webkit-keyframes load {
    from {
        width: 0%;
    }
}

@-moz-keyframes load {
    from {
        width: 0%;
    }
}

.bar {
    background-color: #eee;
    padding: 2px;
    border-radius: 15px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #fff;
    @include tablet-and-up {
        font-size: 16px;
    }
}

.bar::before {
    content: attr(data-skill);
    background-color: #3e867c;
    display: inline-block;
    padding: 5px 0 5px 10px;
    border-radius: inherit;
    animation: load 2s 0s;
    -webkit-animation: load 2s 0s;
    -moz-animation: load 2s 0s;
}

.bar.soft::before {
    background-color: #004659;
}

.bar.hard::before {
    background-color: #001f30;
}

.bar.learning::before {
    width: calc(20% - 10px);
}

.bar.basic::before {
    width: calc(40% - 10px);
}

.bar.intermediate::before {
    width: calc(60% - 10px);
}

.bar.advanced::before {
    width: calc(80% - 10px);
}

.bar.expert::before {
    width: calc(100% - 10px);
}

//CONTACTO
#contacto p {
    display: flex;
    align-items: center;
    justify-content: center;
    i {
        margin-right: 10px;
    }
}

//FOOTER
.footer {
    background-color: $light-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    i {
        color: #000;
        font-size: 1.4rem;
        padding: 0.5rem;
    }
    h4 {
        margin: 0.5rem 0 0 0;
    }
}
