html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: $font-family-lato;
    font-size: 1.1rem;
    font-weight: 300;
    color: #000;
    background-color: $dark-color;
}

h1 {
    font: 3rem $font-amatic;
    text-transform: uppercase;
}

h2 {
    font: 2.5rem $font-amatic;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    margin: 3rem 0 2rem;
    font: 2.5rem $font-amatic;
    text-align: center;
    text-transform: uppercase;
}

.header {
    position: fixed;
    top: 0;
    z-index: 2;
    width: 100%;
    padding: 3vh;
    margin-top: 0;
    background-color: $dark-color;
    ul {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0;
        margin: 0;
        list-style: none;
        i {
            color: #fff;
        }
        i:hover {
            color: $secondary-color;
        }
        a {
            text-decoration: none;
        }
        span {
            display: none;
            margin-left: 10px;
            color: $body-bg;
            @include tablet-and-up {
                display: inline;
            }
        }
        span:hover {
            color: $secondary-color;
        }
    }
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    padding-top: 50px;
    color: #fff;
    background-color: $light-color;
    border-bottom: 5px solid $dark-color;
    h1 {
        margin-bottom: 10px;
    }
    p {
        margin: 0;
        font-size: 1.4rem;
        span {
            color: $dark-color;
        }
    }
    img {
        position: relative;
        bottom: -14vh;
        height: 25vh;
        border: 5px solid $dark-color;
        border-radius: 50%;
    }
}

.container {
    align-items: center;
    justify-content: center;
    width: 85vw;
    padding: 1rem;
    margin: 2rem auto;
    background-color: #fff;
    border-radius: .5rem;
    box-shadow: $shadow;
    @include tablet-and-up {
        padding: 1rem 5rem;
    }
}

.sobre-mi {
    padding-top: 8vh;
    text-align: center;
    a {
        font-size: 2rem;
        color: $dark-color;
    }
}

.cita {
    height: 30vh;
    color: #fff;
    text-align: center;
    p {
        font-style: italic;
    }
}

blockquote {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

//TIMELINE
.timeline {
    position: relative;
    padding-left: 4rem;
    margin: 0 0 0 15px;
    font-size: 1rem;
    color: #fff;
    &:before {
        position: absolute;
        top: 10px;
        bottom: -30px;
        left: 0;
        width: 4px;
        height: 100%;
        content: "";
        background-color: $primary-color;
    }
}

.timeline-container {
    position: relative;
    margin-bottom: 2.5rem;
    .timeline-icon {
        position: absolute;
        top: 4px;
        left: -88px;
        width: 50px;
        height: 50px;
        font-size: 1.6rem;
        text-align: center;
        background: $light-color;
        border-radius: 50%;
        box-shadow: $shadow;
        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .timeline-body {
        background: $light-color;
        border-radius: 10px;
        box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, .75);
        &:before {
            position: absolute;
            top: 15px;
            left: -10px;
            display: block;
            width: 20px;
            height: 20px;
            content: "";
            background: inherit;
            border-radius: 0 0 0 2px;
            transform: rotate(45deg);
        }
        p {
            padding-right: 2px;
            padding-left: 15px;
            margin-bottom: 5px;
            color: $dark-color;
            span {
                font-weight: 400;
            }
        }
        .timeline-title {
            margin-bottom: 1.4rem;
            .badge {
                position: relative;
                top: 10px;
                padding: 4px 8px;
                margin: 20px 0 0 10px;
                font-size: 12px;
                font-weight: 400;
                border-radius: 3px;
            }
        }
        .timeline-place {
            margin-top: 0;
            color: #fff;
        }
        .timeline-subtitle {
            padding: 0 15px 15px;
            font-style: italic;
            font-weight: 300;
            color: #000;
            opacity: .6;
        }
    }
    //Growth Timeline
    &.growth {
        .badge,
        .timeline-icon {
            background: #8b3c2a;
        }
    }
    //Derecho Timeline
    &.derecho {
        .badge,
        .timeline-icon {
            background: #004659;
        }
    }
    //Comunidad Timeline
    &.comunidad {
        .badge,
        .timeline-icon {
            background: #001f30;
        }
    }
    //Deporte Timeline
    &.deporte {
        .badge,
        .timeline-icon {
            background: #3e867c;
        }
    }
}

//SKILLS
@keyframes load {
    from {
        width: 0%;
    }
}

.bar {
    padding: 2px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #fff;
    background-color: #eee;
    border-radius: 15px;
    @include tablet-and-up {
        font-size: 16px;
    }
}

.bar::before {
    display: inline-block;
    padding: 5px 0 5px 10px;
    content: attr(data-skill);
    background-color: #3e867c;
    border-radius: inherit;
    animation: load 2s 0s;
}

.bar.soft::before {
    background-color: #004659;
}

.bar.hard::before {
    background-color: #001f30;
}

.bar.learning::before {
    width: calc(20% - 10px);
}

.bar.basic::before {
    width: calc(40% - 10px);
}

.bar.intermediate::before {
    width: calc(60% - 10px);
}

.bar.advanced::before {
    width: calc(80% - 10px);
}

.bar.expert::before {
    width: calc(100% - 10px);
}

//CONTACTO
.contacto p {
    display: flex;
    align-items: center;
    justify-content: center;
    a {
        color: #000;
        text-decoration: none;
    }
    i {
        margin-right: 10px;
    }
}

//FOOTER
.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    background-color: $light-color;
    i {
        padding: .5rem;
        font-size: 1.4rem;
        color: #000;
    }
    h4 {
        margin-top: .5rem;
    }
}
