@use "sass:color";
//FONTS
$font-family-lato: "Lato",
sans-serif;
$font-amatic: "Amatic SC",
cursive;
//COLOURS
$body-bg: #fff;
$primary-color: #8aa5cc;
$dark-color: #5b769b;
$light-color: #bbd6ff;
$secondary-color: invert(#075ace);
//SHADOWS
$shadow: 5px 5px 5px 0px rgba(0, 0, 0, .75);
