@use "sass:color";
//FONTS
$font-family-lato: 'Lato',
sans-serif;
$font-family-lilita: 'Lilita One',
cursive;
$font-amatic: 'Amatic SC',
cursive;
//COLOURS
$body-bg: #fff;
$primary-color: #8aa5cc;
$dark-color: #5b769b;
$light-color: #bbd6ff;
$secondary-color: #ffde4d;
//SHADOWS
$shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
//MEDIA QUERIES
@mixin tablet-and-up {
    @media screen and (min-width: 769px) {
        @content;
    }
}

@mixin mobile-and-up {
    @media screen and (min-width: 601px) {
        @content;
    }
}

@mixin tablet-and-down {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@mixin mobile-and-down {
    @media screen and (max-width: 600px) {
        @content;
    }
}
